* {
  margin: 0px;
  padding: 0;
}
.body {
  /* background-image: url("https://www.wallpapertip.com/wmimgs/66-660139_black-glass-wallpaper.jpg"); */
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
  width: 70%;
  height: 10vh;
  margin-top: 30px;
  padding: 15px;
  border-radius: 10px;
}

h2 {
  font-size: 1.25rem;
  margin-top: 18px;
  padding: 5px;
  color: red;
  padding: 5px;
}
h4 {
  font-size: 1.5rem;
}
.section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.button {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  margin-right: 10px;
}

#btn {
  outline: none;
  background: transparent;
  border-color: transparent;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  margin-left: 200px;
}
p {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 8px;
  padding: 5px;
}
